.welcomeMessage {
  font-size: 1.5rem;
  margin-top: 3rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #367e18;
}

.listIcon {
  font-size: 3rem;
  margin-left: 5px;
  color: #367e18 !important;
}
