.display {
  width: 90%;
  height: 65px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 2rem;
  pointer-events: none;
}

.display:focus {
  outline: 0;
}
