.header {
  font-weight: 700;
  font-size: 60px;
  margin: 70px;
  color: rgb(81, 7, 253);
  font-family: Arial, sans-serif;
}

input {
  width: 100%;
  border-radius: 25px !important;
  padding: 5px;
  padding-left: 10px;
}

.item-container {
  text-align: left;
}

.todo-btn {
  width: 100px;
  border-radius: 25px !important;
}

.todo-container {
  background-color: transparent !important;
}

html body {
  background-color: rgba(218, 204, 14, 0.664);
  height: 100%;
}

.col-btn-align {
  text-align: left;
}

.row-align {
  margin-top: 15px !important;
}

.item-text {
  padding-left: 10px;
  font-size: 20px;
}

.error-message {
  font-size: 2rem;
  margin-top: 3rem;
  font-weight: 400;
  color: rgb(177, 36, 1);
}
