.formContainer {
  margin: 50px 50px;
  padding: 40px;
  background-color: #f3f1ef;
  border-radius: 15px;
}
.formLabel {
  margin-top: 25px;
  font-size: 0.81rem;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(174, 148, 84, 0.5) !important;
}

.submitButton {
  background-color: #ae9454 !important;
  border-color: transparent !important;
}

.submitButton:hover {
  background-color: #776536 !important;
}
.submitButton:active {
  background-color: #574824 !important;
}

*:focus {
  box-shadow: none !important;
}
input :focus {
  outline-color: #ae9454 !important;
}

form :focus {
  border-color: #e6c572 !important;
  box-shadow: none;
}
