.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #ae9454;
  color: white;
}

.footerIcon {
  font-size: 1.8rem;
  color: #493d1f !important;
}

.footerLogo {
  font-size: 2.5rem;
  color: #493d1f;
  margin-right: 1.2rem;
}
